@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Manrope:wght@200&family=Montserrat&family=Poppins:ital,wght@1,400;1,500;1,700&family=Roboto+Flex:opsz@8..144&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
